@charset "UTF-8";

/* faq_list CSS*/
#container > div.container {
margin-top: 50px;
}

.content {
	margin: auto;
	width: calc(100% - 256px);
	float: right;
}

.tit01 {
	display: block;
	margin-top: 43px;
	margin-bottom: 43px;
	font-size: 38px;
	font-weight: bold;
	color: #484848;
	letter-spacing: -1px;
}
.content .terms .tabArea .tabBtn {
	overflow: hidden;
}
div.tabBtn.clearfix {
	display: flex;
	justify-content: space-around;
}
.tab-link {
	font-size: 18px;
	color: black;
	font-weight: bolder;
	cursor: pointer;
}
div.tab {
	text-align: left;
}
.faq_box {
    position: relative;
    border-bottom: 1px solid #dcdbdc;
}

.faq_box a p {
    font-size: 16px;
    color: #484848;
}


.faq_contents {
    padding: 26px 0 45px;
}

.faq_contents strong {
    display: block;
    margin-bottom: 48px;
    font-size: 20px;
    color: #484848;
    font-weight: bold;
}

.answer {
    font-size: 16px;
    line-height: 24px;
}

.arrow {
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -19.5px;	
    width: 17px;
    height: 17px;
    /* text-indent: -9999em; */
    overflow: hidden;
}

.faq {
	border-bottom:0px solid #ddd;
	margin:1em 0;
}

.faq .faqHeader {
	position:relative;
	zoom:1
}

.faq .faqHeader .showAll {
	position:absolute;
	bottom:0;
	right:0;
	border:0;
	padding:0;
	overflow:visible;
	background:none;
	cursor:pointer
}

.faq .faqBody {
	margin:0;
	padding:0;
    height: 800px;
}

.faq .faqBody .article { 
	list-style:none
}

.faq .q {
	margin: 10px;
}

.faq .q a {
	display:block;
	text-align:left; 
    background:/* url("faq1_icon_q.png") */ no-repeat 0 0; 
    padding: 10px 0 10px 35px;
    font-size:18px;
    color:#5e5e5e;
    background-color: white;
    /* font-weight:bold; */
    line-height: 27px;
    cursor:pointer;
    margin: 10px 0 !important;
}

/* .faq .q a:hover, .faq .q a:active, .faq .q a:focus{} */

.faq .a {
	background:#f8f8f8 /* url("faq1_icon_a.png") */ no-repeat 40px 10px;
	padding: 10px 75px 10px 75px;
    font-size: 16px;
    color: #444444;
    line-height: 22px;
    margin:5px 0 0 0;
}

.tabArea {
	margin-bottom: 200px;}

/*css 추가*/
.content .terms .tabArea .tabBtn {
	overflow: hidden;
}